:root {
    background-color: rgb(0, 21, 41);
    color: rgb(223, 223, 223);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flex-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left {
    background-image: url(./linus-sandvide-5DIFvVwe6wk-unsplash.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    flex: 1;
    font-family: 'Josefin Sans', sans-serif;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
    height: 10%;
    background-color: rgb(160, 147, 147, 0.1);
}

.logo {
    max-height: 80%;
}


.logoText {
    margin: 20px;
}

.right {
    flex: 1.5 1 auto;
    display: flex;
    flex-direction: column
}

.topRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(181, 186, 192);
}

.middleRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
    background-color: rgb(160, 147, 147, 0.1);
    color: rgb(181, 186, 192);
}

.middleRight p {
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 15px;
    color: rgb(181, 186, 192);
}

.formInput {
    display: flex;
    width: 45%;
    margin-bottom: 20px;
    margin-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(181, 186, 192);
    border: 2px red;
}

input[type=text] {
    background-color: rgb(160, 147, 147, 0.1);
    color: rgb(181, 186, 192);
    border: 1px solid rgb(181, 186, 192);
}

input[type=tel] {
    background-color: rgb(160, 147, 147, 0.1);
    color: rgb(181, 186, 192);
    border: 1px solid rgb(181, 186, 192);
}

input[type=email] {
    background-color: rgb(160, 147, 147, 0.1);
    color: rgb(181, 186, 192);
    border: 1px solid rgb(181, 186, 192);
}

input[type=password] {
    background-color: rgb(160, 147, 147, 0.1);
    color: rgb(181, 186, 192);
    border: 1px solid rgb(181, 186, 192);
}

.submitButton {
    width: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

button {
    background-color: rgb(160, 147, 147, 0.1);
    color: orange;
    font-weight: bold;
    border: 3px solid orange;
    border-radius: 5px;
    padding: 10px 40px;
}

button:hover {
    background-color: orange;
    color: black;
}

.bottomRight {
    flex: 1;
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(181, 186, 192);
}

a:link {
    color: orange;
    text-decoration: none;
}

a:visited {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: none;
}

a:active {
    color: orange;
    text-decoration: none;
}

.orangeBold {
    font-weight: bold;
    color: orange;
}